body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode header, body.dark-mode footer {
    background-color: #222;
}

body.light-mode {
    background-color: #fff;
    color: #333;
}

body.light-mode header,
body.light-mode footer {
    background-color: #f4f4f4; /* Adjust as needed */
}

body.light-mode h1 {
    color: darkgray; /* Adjust as needed */
}

body.light-mode p {
    color: gray; /* Adjust as needed */
}

body.light-mode .form-group label {
    color: #555; /* Adjust as needed */
}

body.light-mode input[type="text"],
body.light-mode textarea {
    background-color: #fff;
    color: #333;
    border-color: #ccc;
}

body.light-mode button {
    background-color: #333;
    color: #fff;
}

body.light-mode button:hover {
    background-color: #555;
}
